<nav class="navbar navbar-default">
  <div class="container-fluid navtag">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Carmaalish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <br >
<span class="glyphicon glyphicon-wrench" area-hidden="true"></span>
        <span class="glyphicon glyphicon-cog" area-hidden="true"></span>
        <li class="dropdown">

        </li>
      </ul>
    </div>
  </div>
</nav>
<ul>
</ul>
